$black_bg: #232221;
$white: #ece8da;

$gray1: #867D74;
$gray2: #403B38;

$pc: 1400px;
$tablet: 768px;
$mobile: 425px;

$ft-diphylleia: 'Diphylleia';
$ft-bagel: 'Bagel', 'Bagel_kr';
$ft-tanpearl: 'TanPearl';
$ft-pacifico: 'Pacifico';
$ft-knewave: 'Knewave';
$ft-icon: 'YUniverse';
$ft-hahmlet: 'Hahmlet';
$ft-namsan: 'Namsan';
$ft-santokki: 'Santokki';
$ft-mango: 'Mango';
$ft-bigshoulders: 'BigShoulders';
$ft-basic: 'basic_font';
$ft-basic_kr: 'basic_font_kr';