* {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family: 'basic_font', sans-serif;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #3E3C3C;
    
    &:focus {
        outline: none;
    }
}

::selection {
    background-color: #3E3C3C;
    color: #fff;
}

li { 
    list-style-type: none; 
}

dl {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
}

button {
    cursor: pointer;
    border: none;
}