* {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-stretch: 110%;
    font-weight: 1rem;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

li { 
    list-style-type: none; 
}

a {
    text-decoration: none;
    color: #3E3C3C;
    
    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
    border: none;
}