@font-face {
    font-family: "basic_font";
    font-style: normal;
    font-weight: 400;
    src: url("@/static/fonts/Montserrat-VariableFont_wght.ttf");
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: "basic_font";
    font-style: normal;
    font-weight: 400;
    src: url("@/static/fonts/NotoSansKR-Light.ttf");
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}

@font-face {
    font-family: "Diphylleia";
    font-style: normal;
    font-weight: 400;
    src: url("@/static/fonts/Diphylleia-Regular.ttf");
}

@font-face {
    font-family: "Bagel";
    font-style: normal;
    font-weight: 400;
    src: url("@/static/fonts/BagelFatOne-Regular.ttf");
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: "TanPearl";
    font-style: normal;
    font-weight: 400;
    src: url("@/static/fonts/tan-pearl.otf");
    unicode-range: U+0020-007F;
}

.ft-diphylleia {
    font-family: "Diphylleia";
}
.ft-bagel {
    font-family: "Bagel";
}
.ft-tanpearl {
    font-family: "TanPearl";
}

/* ----- FONT SIZE ----- */
h1,
.fs-h1 {
    font-size: 30px;
}
h2,
.fs-h2 {
    font-size: 26px;
    line-height: 34px;
}
h3,
.fs-h3 {
    font-size: 22px;
    line-height: 30px;
}
h4,
.fs-m {
    font-size: 17px;
    line-height: 24px;
}
h5,
.fs-h5 {
    font-size: 15px;
    line-height: 20px;
}

.fs-l {
    font-size: 20px;
}
.fs-s {
    font-size: 14px;
}
.fs-xs {
    font-size: 12px;
}

/* ----- TEXT ALIGN ----- */
.txt-c {
    text-align: center;
}

/* ----- FONT COLOR ----- */