$black1: #3E3C3C;
$black2: #2C2A2A;

$white1: #fff;
$white2: #f7f7f7;

$gray0: #efefef;
$gray1: #ededed;
$gray2: #959595;

$blue1: #56779F;

$width-l: 1000px;
$width-m: 800px;
$width-s: 640px;

$tablet: 768px;
$mobile: 425px;