$black1: #3E3C3C;
$black2: #2C2A2A;

$white1: #fff;
$white2: #f7f7f7;

$gray0: #efefef;
$gray1: #E1E1E1;
$gray2: #b6b4b4;

$blue1: #586378;

$width-l: 1000px;
$width-m: 800px;
$width-s: 640px;

$tablet: 768px;
$mobile: 425px;