$black0: #7c7878;
$black1: #3E3C3C;
$black2: #2C2A2A;

$white1: #fff;
$white2: #f7f7f7;

$gray0: #efefef;
$gray1: #ededed;
$gray2: #d0d0d0;
$gray3: #959595;

$blue0: #A2B4CA;
$blue1: #8BA1BC;

$blueblack0: #7c8c9e;
$blueblack1: #556b83;
$blueblack2: #3c526b;

$width-l: 1000px;
$width-m: 800px;
$width-s: 640px;

$tablet: 768px;
$mobile: 425px;

$grad-white: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(231, 231, 231, 1) 100%);
$grad-blue: radial-gradient(circle, #56779F 0%, #f7f7f7 100%);
$grad-pink: radial-gradient(circle, #9f567a 0%, #f7f7f7 100%);
$grad-yellow: radial-gradient(circle, #9f8056 0%, #f7f7f7 100%);
$grad-blueblack: radial-gradient(circle, #363e5a 0%, #f7f7f7 100%);

$shadow-card: 0 10px 20px rgba(0, 0, 0, 0.1);
$shadow-large: 0 4px 40px rgba(0, 0, 0, 0.1), 0 2px 24px rgba(0, 0, 0, 0.1);