@use '@/assets/scss/base/variables.scss' as *;

.inner-l {
    width: 95%;
    margin: auto;
}

.inner {
    width: 95%;
    max-width: $pc;
    margin: auto;
}

.page-title {
    padding: 20vh 0 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .text-stagger-by-middle {
        font-size: 10rem;
        line-height: 1;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-weight: 600;
    }

    p {
        margin-top: 5vh;
        font-size: 1.2rem;
    }
}
