@import url('https://fonts.googleapis.com/css2?family=Anybody:wdth,wght@50..150,100..900&display=swap');

#gnb {
    nav {
        li:nth-child(1) {
            position: fixed;
            top: 5vw;
            left: 5vw;
        }
        li:nth-child(2) {
            position: fixed;
            top: 5vw;
            right: 5vw;
        }
        li:nth-child(3) {
            position: fixed;
            bottom: 5vw;
            left: 5vw;
        }
        a {
            p {
                font-family: 'Anybody', sans-serif !important;
                font-stretch: 110%;
                font-size: 2rem;   
                span {
                    font-family: 'Anybody', sans-serif !important;
                    transition: all 0.4s;
                }
            }
            &:hover p span {
                font-stretch: 200%;
                transition: all 0.4s;
            }
        }
    }
}