@import '@/assets/scss/base/variables.scss';

#home {
  section:not(#main) {
    // border: 1px solid black;
    padding: 10vh 0;
  }
  .inner {
    // border: 1px solid blue;
    width: 80%;
    max-width: $width-m;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .subtitle {
      font-size: 3rem;
      margin-bottom: 5vh;
    }
  }
  #main {
    position: relative;
    width: 100%;
    height: 150vh;
    background: linear-gradient(180deg, $gray0 0%, $white2 100%);
    // background-color: #56779f;
    #mainvisual {
      position: absolute;
      top: 0;
    }
    .inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .subtext {
        text-align: center;
        font-size: 1.6rem;
        position: absolute;
        top: 40vh;
      }
      #text-scroll::v-deep {
        top: calc(40vh + 1.6rem + 8vh);
        span {
          font-family: "Bagel";
        }
      }
      #button-scrolldown {
        position: absolute;
        top: calc(40vh + 5rem + 10vh);
      }
    }
  }
  .profile {
    // border: 1px solid red;
    // background: linear-gradient(180deg, rgba(86,119,159,1) 0%, rgba(205,214,224,1) 61%, rgba(247,247,247,1) 100%);
    width: 100%;
    padding: 15vh 0;
    #parallax-img::v-deep {
      width: 32%;
      border-radius: 80px;
      overflow: hidden;
      margin: auto;  
      .parallax-cont {
        padding-top: 128%;
      }
    }
    p {
      margin-top: 5vh;
    }
  }

  .archive {
    .container {
      width: 100%;
      .panel {
        width: 40%;
        &:not(:first-child) {
          margin-top: 10vh;
        }
        .hover-img {
          border-radius: 50%;
          overflow: hidden;
          display: block;
        }
        .desc {
          margin-top: 16px;
          .work {
            font-size: 0.8rem;
          }
          .title::v-deep {
            display: inline-block;
            font-size: 2.4rem;
            font-weight: bold;
            display: block;
            span {
              font-family: "Diphylleia";
            }
          }
        }
        &:nth-child(1) {
          margin-left: calc((100%* 5 / 12));
          width: calc(100%* 5 / 12);
        }
        &:nth-child(2) {
          width: calc(100%* 4 / 12);
        }
        &:nth-child(3) {
          margin-left: calc((100%* 7 / 12));
          width: calc(100%* 5 / 12);
        }
        &:nth-child(4) {
          margin-left: calc((100%* 2 / 12));
          width: calc(100%* 4 / 12);
        }
      }
    }
  }

  .project {
    .container {
      padding: 10vh 0;
      overscroll-behavior: none;
      width: 240% !important;
      height: 100vh;
      display: flex;
      gap: 4vw;
      .panel {
        max-width: 100%;
        min-width: 32vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrap {
          width: 80%;
          position: relative;
        }
        .hover-img {
          width: 80%;
          max-width: $width-m;
          display: block;
          .res-box-wrap {
            padding-bottom: 72%;
          }
          .empty {
            width: 100%;
            height: 100%;
            background-color: $gray1;
            display: block;
          }
        }
        .desc {
          position: absolute;
          bottom: 4%;
          right: 0;
          max-width: 32%;
          .work {
            font-size: 0.8rem;
            // mix-blend-mode: hard-light;
          }
          .title::v-deep {
            display: inline-block;
            font-size: 2.4rem;
            font-weight: bold;
            display: block;
            span {
              font-family: "Diphylleia";
              // mix-blend-mode: hard-light;
            }
          }
        }
      }
    }
  }

  .skills {
    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5vw 10vw;
      ul {
        display: grid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
      }
    }
  }

}


// mobile
@media all and (max-width: $mobile) {
  #home {
    .inner {
      .subtitle {
        font-size: 2.4rem;
      }
    }

    #mainvisual {
      .inner {
        .subtext {
          font-size: 1rem;
          top: 40vh;
        }
      }
    }
    
    .profile {
      #parallax-img {
        width: 56%;
        border-radius: 60px;
      }
    }

    .archive,
    .project {
      .panel {
        .desc {
          .title::v-deep {
            font-size: 1.8rem !important;
            margin-top: 4px;
          }
        }
      }
    }
    
    .project {
      .container {
        padding: 0;
        width: 100% !important;
        height: auto;
        flex-direction: column;
        gap: 10vh;
        .panel {
          &:first-child {
            display: none;
          }
          .hover-img {
            width: 100%;
          }
          .desc {
            position: initial;
            max-width: 100%;
            margin-top: 16px;
            .title {
              font-size: 1.8rem;
              line-height: 1;
            }
          }
        }
      }
    }

    .skills {
      .wrap {
        grid-template-columns: 1fr;
      }
    }

  }

}