@use '@/assets/scss/base/variables.scss' as *;
@import '@/assets/scss/layout/layout.scss';

#home {
    .subtitle {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1.6rem;
        width: 100%;
    }

    .divider {
        margin-top: 10vh;
        width: 100vw;
        transform: rotate(180deg);
        img {
            width: 100%;
            max-width: 100%;
            margin-bottom: -1px;
            margin-top: -1px;
        }
        &.rev {
            transform: rotate(0deg);
            margin-top: 0;
        }
    }

    #main {
        position: relative;
        width: 100%;
        height: 100vh;
        ::v-deep .lottie-wrapper {
            width: 100%;
            height: 100%;
        }
        #mainvisual {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            ::v-deep #star-bg {
                path, circle {
                    fill: $white2;
                }
                .star5 {
                    bottom: 30%;
                    path {
                        fill: none;
                        stroke: $white2;
                    }
                }
            }
        }
        .inner {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .text {
                display: none;
            }
            .subtext {
                text-align: center;
                font-size: 1.6rem;
                position: absolute;
                bottom: calc(16vh + 5rem + 2vh);
                font-family: 'basic_font', 'Hahmlet';
                color: $white2;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
            #text-scroll::v-deep {
                position: absolute;
                bottom: calc(16vh);
                span {
                    font-family: 'Bagel', 'Bagel_kr';
                    font-size: 5rem;
                    color: $white2;
                }
            }
            #button-scrolldown {
                display: none;
            }
        }
    }

    .bumper {
        width: 100%;
        height: 50vh;
    }

    .profile {
        width: 100%;
        height: 100vh;
        position: relative;
        .inner {
            position: relative;
            margin: auto;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 !important;
            height: 100% !important;
        }
        #text_marquee::v-deep {
            position: absolute;
            top: 24%;
        }
        #parallax-img::v-deep {
            width: 28%;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            margin-top: -5vh;
            .parallax-cont {
                padding-top: 100%;
                .img {
                    height: 168%;
                }
            }
            .parallax-wrap::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background: radial-gradient(circle, transparent 0%, transparent 60%, rgba(0, 0, 0, 0.4) 100%);    
            }
        }
        .arrow {
            width: 80px;
            position: absolute;
            margin-top: calc(-20% - 24px);
            left: 24%;
            span {
                font-size: 0.8rem;
                display: block;
                transform: rotate(16deg);
                font-family: 'Diphylleia';
                position: absolute;
                top: -16px;
                left: 12px;
                width: 100%;
            }
            #lottie {
                transform: rotate(180deg);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
            }
        }
        .text {
            position: relative;
            #text-stagger::v-deep {
                ul {
                    margin-top: 5vh;
                    line-height: 2.4;
                    text-align: center;
                    text-shadow: 0 0 4px $white2;
                    span.mouse-hover1 {
                        font-family: 'Knewave';
                        font-size: 1.8rem;
                        line-height: 1.6;
                        b {
                            font-family: 'Pacifico';
                            font-weight: normal;
                        }
                        &.ko {
                            font-family: 'Santokki';
                            b {
                                font-family: 'Mango';
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
        .profile-hover-img {
            li {
                width: 300px;
                height: auto;
                position: absolute;
                z-index: -1;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity 0.5s ease-in, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);

                &:nth-child(1) {
                    width: 500px;
                }
                &:nth-child(3) {
                    width: 340px;
                }
                &:nth-child(4) {
                    width: 500px;
                }
                &:nth-child(5) {
                    width: 240px;
                }
                &.active {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }

    .skills {
        padding: 10vh 0 15vh;
        background-color: $gray1;
        .inner {
            position:relative;
        }
    }

    .selected {
        padding: 0 !important;
        position: relative;
        #text_rotating::v-deep {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            svg {
                width: auto !important;
                height: auto !important;
            }
            textPath {
                font-weight: bold;
                color: $gray1;
                font-family: 'TanPearl';
            }
        }
        .container {
            overscroll-behavior: none;
            height: 100vh;
            display: flex;
            .panel {
                flex: 0 0 64vw;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .wrap {
                    width: 80%;
                    position: relative;
                    padding-left: calc(1.2rem + 8px);
                }
                .cat {
                    font-family: 'BigShoulders';
                    font-size: 1.2rem;
                    writing-mode: vertical-rl;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                ::v-deep .hover-img {
                    width: 80%;
                    max-width: $width-m;
                    border-radius: 16px;
                    .res-box-wrap {
                        padding-bottom: 72%;
                    }
                    .empty {
                        width: 100%;
                        height: 100%;
                        background-color: $gray1;
                        display: block;
                    }
                }
                .desc {
                    position: absolute;
                    bottom: 4%;
                    right: 0;
                    max-width: 32%;
                    .work {
                        font-size: 0.8rem;
                        // mix-blend-mode: hard-light;
                    }
                    .title::v-deep {
                        display: inline-block;
                        font-size: 2.4rem;
                        font-weight: bold;
                        display: block;
                        span {
                            font-family: 'Diphylleia', 'Hahmlet';
                            // mix-blend-mode: hard-light;
                        }
                    }
                }
                &:last-child {
                    flex-direction: column;
                    gap: 16px;
                    .lists {
                        display: flex;
                        gap: 16px;
                    }
                }
            }
        }
    }

    .history {
        .subtitle {
            margin-bottom: 4rem;
        }
        #history {
            padding-top: 1.6rem;
        }
        .bumper {
            height: 320px;
        }
    }

}


// mobile
@media all and (max-width: $mobile) {
    #home {
        section {
            .subtitle {
                padding-top: 0 !important;
            }
        }

        #main {
            &.use-vh-fix {
                height: calc(var(--vh, 1vh) * 100);
            }
            #mainvisual {
                ::v-deep #star-bg {
                    .star5 {
                        bottom: 16%;
                    }
                }
            }
            .inner {
                position: initial;
                .text {
                    display: block;
                    position: absolute;
                    top: calc(5vw + 60px);
                    left: calc(5vw - 4px);
                    span {
                        font-size: 0.8rem;
                        font-family: 'Diphylleia';
                        display: block;
                        color: $white2;
                    }

                }
                .subtext {
                    font-size: 1.2rem;
                    bottom: calc(30% + 4rem + 2vh);
                }
                #text-scroll::v-deep {
                    bottom: 30%;
                    span {
                        font-size: 4rem;
                    }
                }
                #button-scrolldown {
                    display: block;
                    position: absolute;
                    bottom: 15%;
                }
            }
        }

        .bumper {
            height: 25vh;
        }

        .profile {
            padding: 10vh 0;
            height: auto;
            #parallax-img {
                width: 50%;
                border-radius: 50%;
            }
            .arrow {
                width: 60px;
                left: 4%;
                margin-top: -60%;
                span {
                    font-size: 0.8rem;
                    width: 120%;
                    left: 8px;
                }
            }
            .text {
                #text-stagger::v-deep {
                    ul {
                        margin-top: 16px;
                        span.mouse-hover1 {
                            font-size: 1.4rem;
                            line-height: 1.2;
                        }
                    }
                }
            }
            .profile-hover-img {
                li {
                    &:nth-child(1) {
                        width: 240px;
                    }
                    &:nth-child(2) {
                        width: 200px;
                    }
                    &:nth-child(3) {
                        width: 160px;
                    }
                    &:nth-child(4) {
                        width: 200px;
                    }
                    &:nth-child(5) {
                        width: 160px;
                    }
                }
            }
        }

        .skills {
            .inner {
                width: 100%;
                .subtitle {
                    padding-top: 5vh;
                    margin-bottom: 0;
                }
            }
        }

        .selected {
            .container {
                .panel::v-deep {
                    flex: 0 0 100vw;
                    .cat {
                        writing-mode: initial;
                        position: initial;
                        margin-left: 5vw;
                        font-size: 1.6rem;
                    }
                    .hover-img {
                        .res-box-wrap {
                            padding-bottom: 140%;
                        }
                    }
                    .desc {
                        .title {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

    }
}