@use '@/assets/scss/base/variables.scss' as *;

#default {
    background-color: $white2;
    color: $black1;
    overflow: hidden;
}

.inner {
    width: 80%;
    max-width: $width-m;
    margin: auto;
}
.inner-s {
    width: 80%;
    max-width: $width-s;
    margin: auto;
}