@use '@/assets/scss/base/variables.scss' as *;

.page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    .main {
        // background-color: $gray0;
        background: linear-gradient(180deg, $gray0 0%, $white2 100%);
        width: 100%;
        height: 100vh;
        padding: 10vh 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        .title {
            font-size: 5rem;
            line-height: 1;
            z-index: 100;
            position: initial;
            transform: scale(1);

            &.active {
                position: fixed;
                top: 2%;
                transform: scale(0.5);
            }
        }
        #star-bg {
            position: absolute;
            top: 20%;
        }
        #button-scrolldown {
            margin-top: 24px;
        }
    }
    .container {
        padding: 10vh 0;
        overscroll-behavior: none;
        height: 100vh;
        display: flex;
        .panel {
            flex: 0 0 80vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .wrap {
                width: 80%;
                position: relative;
            }
            .hover-img {
                width: 80%;
                max-width: $width-m;
                display: block;
                .res-box-wrap {
                    padding-bottom: 72%;
                }
                .empty {
                    width: 100%;
                    height: 100%;
                    background-color: $gray1;
                    display: block;
                }
            }
            .desc {
                position: absolute;
                bottom: 4%;
                right: 0;
                max-width: 48%;
                .work {
                    font-size: 0.8rem;
                    // mix-blend-mode: hard-light;
                }
                .title::v-deep {
                    margin-top: 4px;
                    display: inline-block;
                    font-size: 2.4rem;
                    font-weight: bold;
                    display: block;
                    span {
                        font-family: "Diphylleia";
                        // mix-blend-mode: hard-light;
                    }
                }
            }
        }
    }
}

#archive {
    .container {
        width: 240% !important;
    }
}

// mobile
@media all and (max-width: $mobile) {
    .page {
        .main {
            .title {
                font-size: 3rem;
                &.active {
                    top: 4%;
                }
            }
        }
        .container {
            width: 100% !important;
            height: auto;
            flex-direction: column;
            gap: 10vh;
            padding: calc(5vh + 40px + 5vh) 0 0;
            
            .panel {
                .hover-img {
                    width: 100%;
                }
                .desc {
                    position: initial;
                    max-width: 100%;
                    margin-top: 16px;
                    .title {
                        font-size: 1.6rem;
                        line-height: 1;
                    }
                }
            }
        }
    }
    #archive .container {
        width: 100% !important;
    }
}