@use '@/assets/scss/base/variables.scss' as *;
@import '@/assets/scss/layout/layout.scss';

::v-deep br.mb {
    display: none;
}

.page_detail {
    section {
        &:not(.main) {
            padding: 10vh 0;
        }
        &:last-of-type:not(.bg) {
            padding-bottom: 0;
        }
        &.bg {
            background-color: $gray1;
        }
    }

    .main {
        width: 100%;
        height: 100vh;
        position: relative;

        .mainvisual {
            width: 100%;
            height: 70vh;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background: linear-gradient(to top, rgba(0,0,0,0.1), transparent);
            }
            #parallax-img::v-deep {
                width: 100%;
                height: 100%;
                overflow: hidden;
                .parallax-wrap {
                    width: 100%;
                    height: 100%;
                    .parallax-cont {
                        width: 100%;
                        height: 100%;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        .title {
            position: absolute;
            bottom: 28vh;
            left: 50%;
            transform: translateX(-50%);
            width: 90vw;
            max-width: $width-l;
            text-align: center;
            a {
                display: inline-block;
            }
            .text-shifting::v-deep span {
                font-family: 'Diphylleia', 'Hahmlet';
                font-size: 4rem;
                line-height: 1;

                &.space {
                    display: inline-block;
                }
            }
        }

        .desc {
            padding-top: 10vh;
            ul {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                gap: 32px;
                dl {
                    display: block;
                    dt {
                        font-size: 0.8rem;
                    }
                    dd {
                        border-top: 1px solid #9A9797;
                        margin-top: 4px;
                        padding-top: 8px;
                    }
                }
            }
        }
    }

    .about {
        p {
            line-height: 1.6;
        }
        #button-round {
            margin-top: 32px;
        }
    }

    .device_pc {
        max-width: $width-m;
        margin: auto;
        position: relative;
        padding: 3% 0 6%;

        .device {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .res-box-wrap {
            width: 78%;
            left: 11%;
            padding-bottom: 52%;
        }
    }

    .device_mb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }

    .img-pc,
    .img-pc2 {
        img:not(:first-child) {
            margin-top: 5vh;
        }
        img {
            box-shadow: $shadow-card;
        }
    }

    .detail {
        text-align: center;
    }
}

#archive_dev_detail {
    .def {
        height: 30vh;
        padding: 10vh 0;
    }
    .viewcode {
        padding-top: 0;
        #button-round {
            margin-top: 0;
        }
    }
    .showcase {
        height: 80vh;
        padding: 0;
        .iframe {
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray1;
            border-radius: 24px;
        }
    }
    .codeviewer {
        pre {
            background: $gray0;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
            code {
                background: $gray0;
                width: 100%;
                height: 60vh;
                overflow-y: scroll;
                padding: 0;
                margin: 12px 12px 12px 24px;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                &::-webkit-scrollbar {
                    width: 8px;
                    height: 0;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $gray3;
                    border-radius: 4px;
                }
            }
        }
    }
}

#archive_music_detail {
    .main {
        .def {
            height: 30vh;
            padding: 8vh 0;
            text-align: center;
            .inner {
                display: flex;
                flex-direction: column;
                gap: 32px;
            }
            p span {
                display: inline-block;
                &:not(:first-child) {
                    margin-left: 4px;
                }
            }
        }
    }
    .player {
        .iframe {
            &:not(:first-child) {
                margin-top: 32px;
            }
        }
    }
    .setlist {
        padding-top: 0;
        p {
            &:not(:first-child) {
                margin-top: 4px;
            }
        }
    }
    .video {
        padding-top: 0;
        video {
            width: 100%;
        }
    }
}


// mobile
@media all and (max-width: $mobile) {
    ::v-deep br.mb {
        display: block;
    }

    .page_detail {
        section:not(.main) {
            padding: 10vh 0;
        }
        section.bg:nth-of-type(2) {
            margin-top: 10vh;
        }
        .main {
            height: auto;
            .mainvisual {
                height: 40vh;
            }
            .title {
                bottom: initial;
                top: 34vh;
                p {
                    font-size: 1rem;
                }
                .text-shifting::v-deep {
                    span {
                        font-size: 2.4rem;
                    }
                }
            }
            .desc {
                padding-top: 10vh;
                ul {
                    grid-template-columns: 1fr;
                }
            }
        }
        .about {
            #button-round::v-deep {
                margin-top: 10vh;
            }
        }
    }

    #archive_dev_detail,
    #archive_music_detail {
        .main {
            height: auto;
            .title {
                bottom: initial;
                top: 34vh;
            }
             .def {
                height: auto !important;
                padding: 20vw 0 10vw;
            }
        }
        .showcase {
            height: auto;
            .iframe {
                height: 80vh;
            }
        }
        .codeviewer {
            pre {
                code {
                    height: 40vh;
                }
            }
        }
    }

    #archive_music_detail {
        .def {
            padding-bottom: 0 !important;
        }
    }

}