@use '@/assets/scss/base/variables.scss' as *;
@import '@/assets/scss/layout/layout.scss';

::v-deep br.mb {
    display: none;
}

.page_detail {
    section {
        &:not(.main) {
            padding: 10vh 0;
        }
        &:last-of-type:not(.bg) {
            padding-bottom: 0;
        }
        &.bg {
            background-color: $gray1;
        }
    }

    .main {
        width: 100%;
        height: 100vh;
        position: relative;

        .mainvisual {
            width: 100%;
            height: 70vh;
            &::after {
                content: '';
                width: 100%;
                height: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background: linear-gradient(to top, rgba(0,0,0,0.1), transparent);
            }
            #parallax-img::v-deep {
                width: 100%;
                height: 100%;
                overflow: hidden;
                .parallax-wrap {
                    width: 100%;
                    height: 100%;
                    .parallax-cont {
                        width: 100%;
                        height: 100%;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        .title {
            position: absolute;
            bottom: 28vh;
            left: 50%;
            transform: translateX(-50%);
            width: 90vw;
            max-width: $width-l;
            text-align: center;
            a {
                display: inline-block;
            }
            .text-shifting::v-deep span {
                font-family: "Diphylleia";
                font-size: 4rem;
                line-height: 1;

                &.space {
                    display: inline-block;
                }
            }
        }

        .desc {
            padding-top: 10vh;
            ul {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                gap: 32px;
                dl {
                    display: block;
                    dt {
                        font-size: 0.8rem;
                    }
                    dd {
                        border-top: 1px solid #9A9797;
                        margin-top: 4px;
                        padding-top: 8px;
                    }
                }
            }
        }
    }

    .about {
        padding-top: 0 !important;
        p {
            line-height: 1.6;
        }
        #button-round {
            margin-top: 32px;
        }
    }

    .device_pc {
        max-width: $width-m;
        margin: auto;
        position: relative;
        padding: 3% 0 6%;

        .device {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .res-box-wrap {
            width: 78%;
            left: 11%;
            padding-bottom: 52%;
        }
    }

    .device_mb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }

    .img-pc {
        img:not(:first-child) {
            margin-top: 5vh;
        }
    }

    .detail {
        text-align: center;
    }
}

#archive_detail {
    .def {
        height: 30vh;
        padding: 10vh 0;
    }
    .showcase {
        height: 80vh;
        padding: 0;
        .iframe {
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray1;
        }
    }
}


// mobile
@media all and (max-width: $mobile) {
    ::v-deep br.mb {
        display: block;
    }
    .contents {
        display: grid;
        section:nth-child(3) {
            grid-row: 2/3;
        }
        .main {
            height: auto;
            padding: 15vh 0 0;
            .inner {
                display: flex;
                flex-direction: column-reverse;
                gap: 5vh;
            }
            .mainvisual {
                width: 100%;
                #parallax-img::v-deep {
                    .parallax-cont {
                        padding-top: 100%;
                        .img {
                            height: 130%;
                        }
                    }
                }
            }
            .title {
                position: initial;
                max-width: 100%;
                p {
                    font-size: 0.8rem;
                }
                .text-shifting::v-deep span {
                    font-weight: bold;
                    font-size: 2.4rem;
                }
            }
        }
        .desc {
            grid-template-columns: 1fr;
            gap: 8px;
            dl {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 16px;
                dt {
                    font-size: 1rem;
                }
                dd {
                    border: none;
                    margin-top: 0;
                    padding-top: 0;
                }
            }
        }
        .device_mb {
            grid-template-columns: 1fr;
            gap: 5vh;
            li {
                width: 72%;
                margin: auto;
                .img {
                    border-radius: 64px;
                }
            }
        }
        .device_pc {
            .img-wrap {
                border-radius: 16px 16px 0 0;
            }
        }
        .img-mb {
            .inner {
                gap: 16px;
            }
        }
        .iframe {
            margin-top: 10vh;
        }
    }
}