.contents {

    .main {
        padding: 15vh 10vw 10vh 10vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        .title {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            p {
                margin-top: 0.8rem;
            }
            h3 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }

        .mainvisual {
            width: 80%;
            max-width: 800px;
            img {
                border-radius: 32px;
                width: 100%;
                max-width: 800px;
            }
        }

    }

    section:not(.main) {
        padding: 0 10vw 15vh 10vw;
    }

    section:nth-child(2) {
        text-align: center;
        ul.desc {
            text-align: center;
            dl {
                align-items: center;
            }
        }
    }

    section:nth-child(3) {
        ul.device_mb {
            max-width: 800px;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;
            
            li {
                position: relative;

                .device {
                    position: relative;
                    z-index: 1;
                }
                .img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 4vw;
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                img {
                    width: 100%;
                }
            }
        }

        .device_pc {
            max-width: 800px;
            margin: auto;
            position: relative;

            .device {
                position: relative;
                z-index: 1;
                width: 100%;
            }
            .img-wrap {
                position: absolute;
                top: 0;
                left: 10%;
                border-radius: 4vw;
                width: 80%;
                height: auto;
                object-fit: contain; 
                img {
                    width: 100%;
                }
            }
        }
    }

    section:nth-child(4) {
        text-align: center;
        #button-round {
            margin-top: 32px;
        }
    }

}
