.inner-small {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    max-width: 1200px;
    margin: auto;
}

.contents {
    padding: 0 5vw;

    section:not(:first-child) {
        margin-top: 10vh;
    }

    .main {
        width: 100%;
        padding-top: 15vh;

        .title {
            p {
                margin-bottom: 8px;
            }
            h3 {
                font-size: 4rem;
                line-height: 4rem;
            }
        }
    }

    .desc {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        dl {
            display: block;
            dt {
                font-size: 0.8rem;
            }
            dd {
                border-top: 1px solid #9A9797;
                margin-top: 4px;
                padding-top: 8px;
            }
        }
    }

    .device_mb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        
        li {
            position: relative;

            .device {
                position: relative;
                z-index: 1;
            }
            .img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4vw;
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            img {
                width: 100%;
            }
        }
    }

    .device_pc {
        max-width: 800px;
        margin: auto;
        position: relative;

        .device {
            position: relative;
            z-index: 1;
            width: 100%;
        }
        .img-wrap {
            position: absolute;
            top: 0;
            left: 10%;
            border-radius: 32px 32px 0 0;
            width: 80%;
            height: auto;
            object-fit: contain; 
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }

}

.contents-next {
    padding: 0 15vw;
    margin-top: 15vh;
    margin-left: -5vw;
    width: 100vw;
    max-height: 20vh;
    overflow: hidden;

    img {
        display: block;
        margin-top: 32px;
        transform: rotate(-2deg);
        transition: all 0.4s;
    }
    .fake-img {
        display: block;
        width: 100%;
        height: 40vh;
        background-color: #ccc;
        margin-top: 32px;
        transform: rotate(-2deg);
        transition: all 0.4s;
    }

    &:hover {
        img,
        .fake-img {
            transform: rotate(0deg);
            transition: all 0.4s;
        }
    }
}