.contents {
    section {
        .inner {
            width: 80%;
            max-width: 800px;
            margin: auto;
        }
        &:not(.main) {
            padding: 5vh 0;
            .inner {
                max-width: 640px;
            }
        }
        &.device-bg {
            background-color: #E1E1E1;
            margin: 5vh 0;
        }
    }

    .main {
        width: 100%;
        height: 100vh;
        padding: 15vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
       
        .inner {
            position: relative;
        }

        .mainvisual {
            width: 72%;
        }
        .title {
            position: absolute;
            bottom: 5%;
            right: 0;
            max-width: 36vw;
            .text-shifting::v-deep span {
                font-family: "Diphylleia";
                font-size: 4rem;
                line-height: 1;
            }
        }
    }

    .desc {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        dl {
            display: block;
            dt {
                font-size: 0.8rem;
            }
            dd {
                border-top: 1px solid #9A9797;
                margin-top: 4px;
                padding-top: 8px;
            }
        }
    }

    .device_mb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        
        li {
            position: relative;

            .device {
                position: relative;
                z-index: 1;
            }
            .img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4vw;
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            img {
                width: 100%;
            }
        }
    }

    .device_pc {
        max-width: 800px;
        margin: auto;
        position: relative;

        .device {
            position: relative;
            z-index: 1;
            width: 100%;
        }
        .img-wrap {
            position: absolute;
            top: 0;
            left: 10%;
            border-radius: 32px 32px 0 0;
            width: 80%;
            height: auto;
            object-fit: contain; 
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }

}

.contents-next {
    padding: 0 15vw;
    margin-top: 15vh;
    width: 100vw;
    max-height: 20vh;
    overflow: hidden;

    img {
        display: block;
        margin-top: 32px;
        transform: rotate(-2deg);
        transition: all 0.4s;
    }
    .fake-img {
        display: block;
        width: 100%;
        height: 40vh;
        background-color: #ccc;
        margin-top: 32px;
        transform: rotate(-2deg);
        transition: all 0.4s;
    }

    &:hover {
        img,
        .fake-img {
            transform: rotate(0deg);
            transition: all 0.4s;
        }
    }
}