$black: #232221;
$white: #ece8da;
$white_inverted: #fffae9;

$gray1: #d8cbc0;
$gray2: #78716b;
$gray3: #363433;

$pc: 1024px;
$tablet: 768px;
$mobile: 425px;

$ft-basic: 'basic_font';
$ft-basic_kr: 'basic_font_kr';

$ft-google-variable: 'GoogleVariable', sans-serif;
$ft-bagel: 'Bagel', 'Bagel_kr';

$ft-tanpearl: 'TanPearl';
$ft-orangeavenue: 'OrangeAvenue';
$ft-sederahana: 'Sederahana';

$ft-mapodacapo: 'MapoDacapo';
$ft-sungkokserif: 'SungkokSerif';

$text-shadow: 0 0 4px $white;
$box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
